html { background: black; color: aliceblue; font-size: 26px; font-family: monospace; }


.main-table {
  text-align: right;
  font-size: 24px;
}
.row-header { background: #424242; }
th { min-width: 100px; border: 1px #484848 solid; padding: 5px 20px; }
td { min-width: 100px; border: 1px #484848 solid; padding: 5px 20px; }
a.coin-link {
  color: #76b5ff;
  text-decoration: none;
  font-weight: bold;
}

/*th:nth-child(4), td:nth-child(4) {*/
/*  min-width: 100px;*/
/*}*/

.usd-price { color: #6dffe5; }
.eur-price { color: #6dd6ff; }
.totals-eur { color: yellow; }

/*#btn-reload-prices, #btn-copy-clipboard, #btn-filter-eur, #btn-filter-usd {*/
/*  margin: 20px 20px 20px 0;*/
/*  padding: 5px 12px;*/
/*}*/

#btn-stop {
  font-size: 18px;
  padding: 1px 6px;
}
#btn-play {
  font-size: 18px;
  padding: 1px 6px 2px;
}

#play-bar {
  border: 1px #2e2e2e solid;
  min-width: 240px;
  display: inline-block;
  padding: 0 3px;
  min-height: 10px;
}

.totals-profit.pos { color: lime; }
.totals-profit.neg { color: red; }

/*#btn-reload-prices {*/
.action-btn {
  margin-top: 50px;
/*  margin-right: 80px;*/
  font-size: 50px;
  padding: 20px 35px;
}

tr.invisible { display: none; }
td.coin-btc-total { display:none; }

/*.small-table td {
  padding: 2px 20px;
  font-size: 14px;  
}*/
.profit-cell {
  border: none;
  text-align: left;
  display: none;
}
.profit-cell.profit-red { color: darkred; }
.profit-cell.profit-green { color: green; }